body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
li {
  list-style: none;
}
.topbar span,
.topbar a {
  font-size: small;
  color: rgb(248, 246, 242);
}
.topbar .phone {
  color: blanchedalmond;
}
#topbar {
  background-color: rgb(145, 145, 145);
}
.body {
  font-family: "Times New Roman", Times, serif;
}
.body {
  font-size: x-small;
}
#body {
  background-color: grey;
}
.PRODUCTS {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.PRODUCTS span,
.PRODUCTS a {
  font-size: x-large;
  color: rgb(255, 255, 255);
}
#PRODUCTS {
  background-color: theme("colors.white");
  border-radius: theme("borderRadius.lg");
  padding: theme("spacing.6");
  box-shadow: theme("boxShadow.xl");
}
body {
  background-color: hsl(334, 90%, 28%);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-self: auto;
}
.PRODUCTS section {
  padding: 50px;
}
.body .style {
  padding: 50px;
}
.header {
  background-color: rgb(212, 14, 14);
  flex-grow: 3;
}
.style {
  background-color: rgb(20, 255, 220);
  flex-shrink: 5;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.footer {
  background-color: rgb(250, 236, 83);
  flex-flow: column-reverse;
}
